/** to apply slyle to cdk-dialog we need to use host-context(cdk-dialog-container) because :host would not work */
:host-context(cdk-dialog-container) {
  display: block;
  border-radius: 16px;
  background-color: #dcdcdc;
  padding: 16px;
  filter: drop-shadow(0 0 16px hsl(0 0% 0% / 0.2));
}

.header {
  display: grid;
  text-align: center;
  padding-block-end: 8px;
  border-bottom: 1px solid hsl(0 0% 0% / 0.2);
}

.body {
  display: grid;
  gap: 16px;
  padding-block-start: 16px;
}

label {
  display: grid;
}

button {
  width: 100%;

  &[type='submit'] {
    margin-block-start: 16px;
  }
}

.error {
  color: #bd0000;
}