@use 'import' as app;

:host {
  display: block;
  padding-block-start: calc(#{app.$header-height + 0px} + #{app.$padding-64 + 0px});
}

.controls {
  max-inline-size: #{app.$max-inline-size + 0px};
  margin-inline: auto;
  margin-block-end: #{app.$padding-16 + 0px};
  display: flex;
  gap: #{app.$padding-16 + 0px};
}

mark {
  block-size: fit-content;
  inline-size: fit-content;
  border-radius: #{app.$padding-16 + 0px};
  padding-block: #{app.$padding-4 + 0px};
  padding-inline: #{app.$padding-8 + 0px};
  margin-inline-start: auto;
  text-transform: lowercase;
  background-color: var(--green);
  line-height: 1;

  &.loading {
    background-color: var(--grey);
  }
}

.new-line {
  display: flex;
  gap: #{app.$padding-16 + 0px};
  justify-content: space-between;
}

.button {
  height: fit-content;
}