@use 'import' as app;

:host {
  display: grid;
  gap: #{app.$padding-16 + 0px};
  padding-block-start: calc(#{app.$header-height + 0px} + #{app.$padding-64 + 0px});
  justify-content: center;
}

.card {
  padding: #{app.$padding-16 + 0px};
  align-content: start;
  box-sizing: border-box;
  @extend %card-view;
}