@use 'import' as app;

:host {
  display: grid;
  gap: #{app.$padding-16 + 0px};
  justify-content: center;
}

.card {
  padding: #{app.$padding-16 + 0px};
  align-content: start;
  box-sizing: border-box;
  @extend %card-view;
}