@use 'import' as app;

:host {
  display: grid;
  gap: 16px;
  padding-block-start: 64px;
  justify-content: center;
}

.card {
  padding: 16px;
  align-content: start;
  box-sizing: border-box;
  @extend %card-view;
}