@use 'import' as app;

:host {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    'title btn'
    'text btn'
  ;
  gap: #{app.$padding-8 + 0px};
  padding: #{app.$padding-16 + 0px};
  background-color: var(--light-grey);
}

h3 {
  grid-area: title;
}

p {
  grid-area: text;
}

button {
  grid-area: btn;
}