@use 'import' as app;

:host {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: #{app.$padding-16 + 0px};
}

.text {
  li {
    display: grid;
    grid-template-columns: 24px 1fr;
  }
}

.rect {
  fill: var(--dark-grey);
}

.group {
  cursor: pointer;

  &:hover {
    .rect {
      fill: transparent;
      stroke: var(--dark-grey);
    }

    .count {
      fill: var(--dark-grey);
    }
  }

  &.active {
    .rect {
      fill: var(--green);
    }

    .label {
      fill: var(--green);
    }

    .count {
      fill: var(--white);
    }
  }
}

.count {
  fill: var(--white);
  font-size: 14px;
  font-weight: 600;
}