@use 'import' as app;

:host {
  padding: #{app.$padding-16 + 0px};
  margin-inline: auto;
  @extend %card-view;
}

:host(.expanded) {
  .content {
    block-size: var(--expandedHeight);
    padding-block-end: #{app.$padding-24 + 0px};
  }
}

.content {
  overflow: clip;
  block-size: var(--collapsedHeight);
  mask-image: linear-gradient(black, black calc(100% - #{app.$padding-24 + 0px}), transparent 100%);
  mask-size: 100% calc(100% + #{app.$padding-24 + 0px});
  mask-position: bottom;
  transition: block-size 0.3s, padding-block-end 0.3s;
}

.footer {
  display: grid;
  justify-items: end;
}