@use 'import' as app;

:host {
  padding: 16px;
  margin-inline: auto;
  @extend %card-view;
}

:host(.expanded) {
  .content {
    block-size: var(--expandedHeight);
    padding-block-end: 1.5rem;
  }
}

.content {
  overflow: clip;
  block-size: var(--collapsedHeight);
  mask-image: linear-gradient(black, black calc(100% - 1.5rem), transparent 100%);
  mask-size: 100% calc(100% + 1.5rem);
  mask-position: bottom;
  transition: block-size 0.3s, padding-block-end 0.3s;
}

.footer {
  display: grid;
  justify-items: end;
}