@use 'import' as app;

:host {
  margin-inline: auto;
  @extend %card-view;
}

.card-header {
  display: grid;
  background-color: var(--black);
  color: var(--light-grey);
  padding: #{app.$padding-16 + 0px};
}

.card-body {
  display: grid;
  gap: #{app.$padding-16 + 0px};
  padding: #{app.$padding-16 + 0px};
}

.card-footer {
  padding: #{app.$padding-16 + 0px};
  border-top: 1px solid var(--light-grey);
}

.info {
  margin-block-end: #{app.$padding-16 + 0px};
  color: var(--grey);
}