@use 'import' as app;

:host {
  margin-inline: auto;
  @extend %card-view;
}

.card-header {
  display: grid;
  background-color: #333;
  color: #dfdfdf;
  padding: 16px;
}

.card-body {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.card-footer {
  padding: 16px;
  border-top: 1px solid #dfdfdf;
}

.info {
  margin-block-end: 16px;
  color: #b0b0b0;
}