:host {
  display: grid;
  max-inline-size: 480px;
  margin-inline: auto;
  border-radius: 24px;
  corner-shape: squircle;
  border: 1px solid hsl(0 0% 0% / 0.2);
  overflow: clip;
}

.card-header {
  display: grid;
  background-color: #333;
  color: #dfdfdf;
  padding: 16px;
}

.card-body {
  display: grid;
  gap: 16px;
  padding: 16px;
}