@use 'import' as app;

:host {
  display: block;
  padding-block-start: 64px;
}

.content {
  padding: 16px;
  margin-inline: auto;
  @extend %card-view;
}

.button {
  position: relative;
  min-inline-size: 240px;
  margin-inline: auto;

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .subtitle {
    color: #bbbbbb;
  }

  svg {
    position: absolute;
    inset-inline-end: 16px;
  }
}