@use 'import' as app;

:host {
  display: grid;
  gap: #{app.$padding-16 + 0px};
}

.select {
  display: flex;
  align-items: center;
  position: relative;
  height: #{app.$button-size + 0px};
  corner-shape: #{app.$corner-shape};
  border-radius: #{app.$border-radius-16 + 0px};
  border: 1px solid hsl(0 0% 0% / 0.2);
  padding-inline: #{app.$padding-16 + 0px};
  min-inline-size: #{app.$input-inline-size + 0px};
  max-inline-size: #{app.$max-inline-size + 0px};
}

.select:has([ngComboboxInput][aria-disabled='true']) {
  opacity: 0.6;
  cursor: default;
}

[ngComboboxInput] {
  opacity: 0;
  inline-size: 100%;
  min-inline-size: #{app.$input-inline-size + 0px};
  max-inline-size: #{app.$max-inline-size + 0px};
  cursor: pointer;
}

[ngCombobox]:focus-within .select {
  outline: 1px solid var(--light-grey);
}

.combobox-label {
  position: absolute;
  display: grid;
  align-items: center;
  pointer-events: none;
}

.triangle-icon {
  position: absolute;
  right: #{app.$padding-16 + 0px};
  pointer-events: none;
  transition: rotate 0.2s ease-in-out;
}

[aria-label="clear selection"] {
  position: absolute;
  right: 0;
}

[ngComboboxInput][aria-expanded='true']~.triangle-icon {
  rotate: 180deg;
}

.popup-container {
  display: grid;
  inline-size: 100%;
  max-inline-size: #{app.$max-inline-size + 0px};
  max-block-size: #{app.$min-inline-size + 0px};
  background-color: var(--light-grey);
  border-radius: #{app.$border-radius-16 + 0px};
  corner-shape: #{app.$corner-shape};
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
  transition: max-block-size 0.2s ease-out, visibility 0s, opacity 25ms ease-out;

  @media (width<=1024px) {
    max-inline-size: #{app.$input-inline-size + 0px};
  }
}

[ngCombobox]:has([ngComboboxInput][aria-expanded='false']) .popup-container {
  max-block-size: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-block-size 0.2s ease-in, visibility 0s 0.2s, opacity 0.2ms ease-in;
}

[ngOption] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: #{app.$padding-8 + 0px};
  padding-inline: #{app.$padding-16 + 0px};
  cursor: pointer;
}

[ngOption][aria-selected='true'] {
  background-color: var(--black);
  color: var(--light-grey);
}

[ngOption]:not([aria-selected='true']) .check-icon {
  display: none;
}

.selected-chips {
  display: flex;
  flex-wrap: wrap;
  gap: #{app.$padding-8 + 0px};
}

.chip {
  display: flex;
  align-items: center;
  gap: #{app.$padding-16 + 0px};
}

.selected-users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{app.$min-inline-size + 0px}, 1fr));
  gap: #{app.$padding-16 + 0px};
}