:host {
  display: block;
}

.accordion {
  display: grid;
  gap: 8px;
}

.accordion-item {
  display: grid;
  gap: 8px;
  padding-block: 8px;

  &:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
  }
}

.accordion-title {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  line-height: 1;
}

.icon {
  &.expanded {
    .dash:last-child {
      rotate: 0deg;
    }
  }
}

.dash {
  display: grid;
  block-size: 2px;
  inline-size: 16px;
  background-color: #333;
  transition: rotate 0.2s;

  &:last-child {
    rotate: 90deg;
    translate: 0px -2px;
  }
}

[ngAccordionTrigger] {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #727272;
  cursor: pointer;
}

[ngAccordionTrigger][aria-expanded='true'] {
  color: #333;
}

[ngAccordionTrigger][aria-disabled='true'] {
  opacity: 0.4;
  cursor: not-allowed;
}

.accordion-content {
  max-inline-size: 65ch;
}