@use 'import' as app;

:host {
  display: block;
}

.accordion {
  display: grid;
  gap: #{app.$padding-8 + 0px};
}

.accordion-item {
  display: grid;
  gap: #{app.$padding-8 + 0px};
  padding-block: #{app.$padding-8 + 0px};

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey);
  }
}

.accordion-title {
  display: flex;
  gap: #{app.$padding-16 + 0px};
  justify-content: space-between;
  line-height: 1;
}

.icon {
  &.expanded {
    .dash:last-child {
      rotate: 0deg;
    }
  }
}

.dash {
  display: grid;
  block-size: 2px;
  inline-size: 16px;
  background-color: var(--black);
  transition: rotate 0.2s;

  &:last-child {
    rotate: 90deg;
    translate: 0px -2px;
  }
}

[ngAccordionTrigger] {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-grey);
  cursor: pointer;
}

[ngAccordionTrigger][aria-expanded='true'] {
  color: var(--black);
}

[ngAccordionTrigger][aria-disabled='true'] {
  opacity: 0.4;
  cursor: not-allowed;
}

.accordion-content {
  max-inline-size: 65ch;
}