@use 'import' as app;

:host {
  display: block;
  padding-block-start: 64px;
}

.stepper,
.submitted {
  padding: 16px;
  margin-inline: auto;
  @extend %card-view;
}

.step-count {
  color: #bebebe;
}

.body {
  display: grid;
  gap: 16px;
}

.footer {
  display: flex;
  gap: 16px;
  padding-block-start: 16px;
}

button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}