@use 'sass:math';
@use 'import' as app;

:host {
  padding: #{app.$padding-16 + 0px};
  @extend %card-view;
}

.image-wrapper {
  position: relative;
  padding-block-start: math.div(9, 16)*100%;
  border-radius: #{app.$border-radius-8 + 0px};
  overflow: clip;
}

.image,
.image-placeholder {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.image-placeholder,
.title-placeholder,
.text-placeholder {
  background: linear-gradient(90deg, var(--black), var(--grey), var(--black));
  background-size: 400% 100%;
  animation: shimmer 4s infinite linear;
}

.title-placeholder {
  block-size: 32px;
  inline-size: 50%;
  border-radius: #{app.$border-radius-8 + 0px};
}

.text-placeholder {
  block-size: 64px;
  border-radius: #{app.$border-radius-8 + 0px};
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}