@use 'import' as app;

:host {
  display: block;
}

h2,
p {
  margin-block-start: 1em;
}

.content {
  margin-inline: auto;
  @extend %card-view;
}

.header {
  display: grid;
  padding: #{app.$padding-16 + 0px};
  background-color: var(--black);
  color: var(--light-grey);

  button {
    margin-inline-start: auto;
    color: inherit;
    font-weight: 500;
  }
}

.body {
  padding: #{app.$padding-16 + 0px};
}