:host {
  transition-behavior: allow-discrete;
  display: grid;
  gap: 16px;
  padding: 16px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, display 0.2s ease-in-out;

  @starting-style {
    opacity: 0;
  }
}