@use 'import' as app;

:host {
  text-align: center;
  padding: #{app.$padding-16 + 0px};
  gap: 0;
  @extend %card-view;
}

.avatar {
  display: grid;
  place-items: center;
  margin-block-end: #{app.$padding-16 + 0px};
}

img {
  width: 80px;
}

.location {
  color: #989898;
}

.skills {
  padding-block-start: #{app.$padding-16 + 0px};
}