@use 'import' as app;

:host {
  text-align: center;
  padding: 16px;
  gap: 0;
  @extend %card-view;
}

.avatar {
  display: grid;
  place-items: center;
  margin-block-end: 16px;
}

img {
  width: 80px;
}

.location {
  color: #989898;
}

.skills {
  padding-block-start: 16px;
}