@use 'theme' as t;
@use 'variables' as app;

%card-view {
    display: grid;
    gap: #{app.$padding-16 + 0px};
    max-inline-size: #{app.$max-inline-size + 0px};
    border-radius: #{app.$border-radius-24 + 0px};
    corner-shape: #{app.$corner-shape};
    border: 1px solid var(--black-transparent);
    overflow: clip;
}

%button-reset {
    border-color: transparent;
    outline-color: transparent;
    background-color: transparent;
    padding: #{app.$padding-8 + 0px};
    box-sizing: border-box;
    cursor: pointer;
}

%hide-scrollbar {
    scrollbar-width: none;
    /* Firefox 64 */
    -ms-overflow-style: none;

    /* IE 11 */
    &::-webkit-scrollbar {
        /** Webkit */
        display: none;
    }
}

%error {
    font-size: 12px;
    color: var(--red);
    line-height: 1;
}