:root {
    --black: #333;
    --black-transparent: hsl(0 0% 0% / 0.2);

    --white: #fff;
    --white-transparent: hsl(0 0% 100% / 0.2);

    --light-grey: #dfdfdf;
    --grey: #b8b8b8;
    --dark-grey: #787878;

    --red: #bf1313;

    --orange: #ff8c00;

    --green: #1bca4f;
}