$header-height: 64;

$padding-4: 4;
$padding-8: 8;
$padding-16: 16;
$padding-24: 24;
$padding-32: 32;
$padding-64: 64;

$border-radius-4: 4;
$border-radius-8: 8;
$border-radius-16: 16;
$border-radius-24: 24;
$corner-shape: squircle;

$button-size: 40;

$input-block-size: 44;

$min-inline-size: 288;
$max-inline-size: 480;