@use 'import' as app;

:host {
  display: block;
}

.content {
  display: grid;
  gap: #{app.$padding-16 + 0px};
  padding: #{app.$padding-16 + 0px};
  @extend %card-view;
}

form {
  display: grid;
  gap: #{app.$padding-16 + 0px};
}

.field {
  display: grid;
}

.info {
  font-size: 12px;
  color: darkorange;
}

.error {
  @extend %error;
}