@use 'import' as app;

:host {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;

  @media (width<=1024px) {
    grid-auto-flow: row;
  }
}

.content {
  padding: 16px;
  @extend %card-view;
}

form {
  display: grid;
  gap: 16px;
}

.form {
  display: grid;
  gap: 16px;
}

.group {
  display: grid;
  gap: 8px;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  input {
    inline-size: 100%;
    min-inline-size: 0px;
    max-inline-size: 120px;
  }
}

label:not(.checkbox-label) {
  display: grid;
}

.checkbox-label {
  display: flex;
  gap: 4px;
}

.actions {
  display: flex;
  gap: 8px;
  margin-block-start: 16px;
}

.error {
  @extend %error;
}