@use 'import' as app;

:host {
  display: grid;
  gap: #{app.$padding-64 + 0px};
}

.content-wrapper {
  gap: #{app.$padding-16 + 0px};

  &.flex {
    display: flex;
    flex-wrap: wrap;
  }

  &.grid {
    display: grid;
  }
}

.content {
  flex-grow: 1;
}

.listbox-container {
  inline-size: 100%;
  max-block-size: #{app.$input-inline-size + 0px};
  background-color: var(--light-grey);
  overflow-y: auto;
  @extend %card-view;
}

[ngOption] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: #{app.$padding-8 + 0px};
  padding-inline: #{app.$padding-16 + 0px};
  cursor: pointer;
}

[ngOption][data-active='true'] {
  background-color: transparent;
  color: var(--black);
}

[ngOption][aria-selected='true'] {
  background-color: var(--black);
  color: var(--light-grey);
}

[ngOption]:not([aria-selected='true']) .check-icon {
  display: none;
}