@use 'import' as app;

:host {
  padding: #{app.$padding-16 + 0px};
  @extend %card-view;
}

.debug-section {
  &.row {
    display: flex;
    gap: #{app.$padding-8 + 0px};
  }
}

.valid {
  color: var(--green);
}

.invalid {
  color: var(--red);
}