@use 'import' as app;

:host {
  display: block;
}

div[ngCombobox] {
  display: grid;
  gap: #{app.$padding-16 + 0px};
}

.card-header {
  display: grid;
  gap: #{app.$padding-8 + 0px};
}

.search-field {
  display: flex;
  gap: #{app.$padding-8 + 0px};
  align-items: center;
}

[ngCombobox]:has([aria-expanded='false']) .popup {
  display: none;
}

.popup {
  display: grid;
  inline-size: 100%;
  max-inline-size: #{app.$max-inline-size + 0px};
  max-block-size: #{app.$max-inline-size + 0px};
  background-color: var(--light-grey);
  border-radius: #{app.$border-radius-16 + 0px};
  corner-shape: #{app.$corner-shape};
  overflow-y: auto;

  @media (width<=1024px) {
    inline-size: #{app.$input-inline-size + 0px};
  }
}

[ngOption] {
  display: grid;
  align-items: center;
  padding-block: #{app.$padding-8 + 0px};
  padding-inline: #{app.$padding-16 + 0px};
  cursor: pointer;

  small {
    color: var(--dark-grey);
  }
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[ngOption]:hover {
  background-color: var(--black);
  color: var(--light-grey);
}

[ngOption]:not([aria-selected='true']) .check-icon {
  display: none;
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{app.$min-inline-size + 0px}, 1fr));
  gap: #{app.$padding-16 + 0px};
}