@use 'import' as app;

:host {
  display: block;
}

p {
  margin-block-start: 2em;
}

.content {
  padding: #{app.$padding-16 + 0px};
  margin-inline: auto;
  @extend %card-view;
}

.button {
  position: relative;
  min-inline-size: #{app.$input-inline-size + 0px};
  margin-inline: auto;

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .subtitle {
    color: var(--grey);
  }

  svg {
    position: absolute;
    inset-inline-end: #{app.$padding-16 + 0px};
  }
}