<header>
  <h2>test project</h2>
  <button class="menu-button" (click)="toggleMenu()">
    @for (_ of [].constructor(3); track $index) {
      <span class="dash"></span>
    }
  </button>
  @if (menuOpened()) {
    <ul class="menu-list" [class.opened]="menuOpened()">
      @for (item of menuItems(); track item.link) {
        <li class="menu-item">
          <a class="button" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{item.title}}</a>
        </li>
      }
    </ul>
  }
</header>

<main>
  <router-outlet />
</main>

<footer></footer>
