<header>
  <h2>
    <a [routerLink]="'/'">test project</a>
  </h2>
  <a [routerLink]="['aria-components']" class="button aria">Aria</a>
  <button class="menu-button" (click)="toggleMenu()">
    @for (_ of [].constructor(3); track $index) {
      <span class="dash"></span>
    }
  </button>
  @if (menuOpened()) {
    <ul class="menu-list" [class.opened]="menuOpened()" (clickOutside)="menuOpened.set(false)">
      @for (item of menuItems(); track item.link) {
        <li class="menu-item">
          <a class="button" 
            [routerLink]="item.link" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}"
            (click)="closeMenu()">
            {{item.title}}</a>
        </li>
      }
    </ul>
  }
</header>

<main>
  <router-outlet />
</main>

<footer></footer>
