@use 'import' as app;

:host {
  display: block;
  margin-inline: auto;
  padding: #{app.$padding-16 + 0px};
  @extend %card-view;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: #{app.$padding-4 + 0px};
  padding-block-end: #{app.$padding-16 + 0px};
  border-bottom: 1px solid var(--grey);
}

section {
  padding-block-start: #{app.$padding-64 + 0px};
}

p {
  margin-block-start: 1em;
}

.button {
  font-size: 14px;

  @media (width<=480px) {
    inline-size: 100%;
  }
}