:host {
  display: block;
  padding-block-end: 64px;
}

h2,
p {
  margin-block-start: 1em;
}

.content {
  max-inline-size: 480px;
  margin-inline: auto;
  border-radius: 24px;
  corner-shape: squircle;
  border: 1px solid hsl(0 0% 0% / 0.2);
  overflow: clip;
}

.header {
  display: grid;
  background-color: #333;
  color: #d8d8d8;
  padding: 16px;
}

.body {
  padding: 16px;
}