@use 'import' as app;

:host {
  display: block;
  padding-block-start: calc(#{app.$header-height + 0px} + #{app.$padding-64 + 0px});
}

h2,
p {
  margin-block-start: 1em;
}

.content {
  margin-inline: auto;
  @extend %card-view;
}

.header {
  display: grid;
  background-color: #333;
  color: #d8d8d8;
  padding: 16px;
}

.body {
  padding: 16px;
}