@use 'import' as app;

:host {
  display: block;
}

.content {
  margin-inline: auto;
  @extend %card-view;
}

.button.icon {

  .icon.expanded {
    transition: rotate 0.3s ease;
    rotate: 180deg;
  }
}