@use 'import' as app;

:host {
  display: block;
  padding-block-start: calc(#{app.$header-height + 0px} + #{app.$padding-64 + 0px});
}

.content {
  max-inline-size: #{app.$max-inline-size + 0px};
  margin-inline: auto;
  text-align: center;
  display: grid;
  gap: #{app.$padding-16 + 0px};
}