@use 'import' as app;

:host {
  display: block;
}

h3,
p {
  margin-block-start: 1em;
}

a {
  color: inherit;
}

.sidebar {
  display: grid;
  gap: #{app.$padding-16 + 0px};

  @media (width<=1024px) {
    padding: #{app.$padding-16 + 0px};
  }
}