@use 'import' as app;

:host {
  display: block;
}

.content {
  padding: #{app.$padding-16 + 0px};
  margin-inline: auto;
  @extend %card-view;
}

.header {
  padding-block-end: #{app.$padding-16 + 0px};
  border-bottom: 1px solid var(--black-transparent);
  text-align: center;
}

.body {
  display: grid;
  gap: #{app.$padding-24 + 0px};
  padding-block-start: #{app.$padding-16 + 0px};
}

.section {
  display: grid;
  gap: #{app.$padding-16 + 0px};
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: #{app.$padding-8 + 0px};

}

.button {
  @media (width<=1024px) {
    inline-size: 100%;
  }
}

.list {
  padding-block-start: #{app.$padding-16 + 0px};
  border-top: 1px solid var(--black-transparent);
}

.notification {
  display: grid;
  position: fixed;
  inset: auto auto 48px;
  padding: #{app.$padding-16 + 0px};
  background-color: var(--black);
  color: var(--light-grey);
  corner-shape: #{app.$corner-shape};
  border-radius: #{app.$border-radius-16 + 0px};
  border: 1px solid var(--black-transparent);
}