@use 'import' as app;

:host {
  display: grid;
  gap: #{app.$padding-16 + 0px};
}

[ngListbox] {
  display: flex;
  flex-wrap: wrap;
  gap: #{app.$padding-8 + 0px};
}

[ngOption] {
  cursor: pointer;
}

[ngOption]:focus {
  border-radius: #{app.$border-radius-8 + 0px};
  outline-offset: 2px;
  outline-color: var(--light-grey);
}

[ngOption][aria-selected='true'] {
  .outline {
    background-color: var(--black);
    color: var(--light-grey);
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{app.$min-inline-size + 0px}, 1fr));
  gap: #{app.$padding-16 + 0px};
}

.focus {
  display: flex;
  flex-wrap: wrap;
}

.input {
  display: flex;
  align-items: center;
}