@if (hasHeaderVisible()) {
    <div class="card-header">
        <!-- shows content if it's in h3 tag -->
        <ng-content select="h3"></ng-content>
    </div>
}
<div class="card-body">
    <ng-content ></ng-content>
    <!-- show app-slots-buttons in body area if header is empty -->
    @if (footer() && !hasHeaderVisible() && !hideFooter()) {
        <p class="info">We show footer as part of card body</p>
        <ng-container *ngTemplateOutlet="footerTmp"></ng-container>
    }
</div>
@if(footer() && hasHeaderVisible() && !hideFooter()){
    <div class="card-footer">
        <p class="info">We show footer as independent unit when block has header</p>
        <!-- shows content from app-slots-buttons component -->
        <ng-container *ngTemplateOutlet="footerTmp"></ng-container>
    </div>
}

<!-- do this if you need to render one block in different conditions -->
<ng-template #footerTmp>
    <ng-content select="app-slots-buttons"></ng-content>
</ng-template>
