@use 'import' as app;

:host {
  display: grid;
  align-content: start;
  gap: #{app.$padding-16 + 0px};
  max-inline-size: 482px;
}

[ngTabs] {
  display: flex;
  gap: 0px;
  max-block-size: 336px;
  @extend %card-view;
}

[ngTabList] {
  padding: 0;
  min-inline-size: 110px;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  border-right: 1px solid var(--black-transparent);

  scroll-snap-type: x mandatory;
  overflow-y: auto;
  @extend %hide-scrollbar;
}

[ngTab] {
  flex: 1;
  padding: #{app.$padding-16 + 0px};
  outline: none;
  text-align: center;
  color: var(--black);
  cursor: pointer;
}

[ngTab][aria-selected='false']:focus {
  outline-offset: -4px;
  outline: 1px solid var(--light-grey);
}

[ngTab][aria-selected='false']:first-child:focus {
  border-top-left-radius: 12px;
}

[ngTab][aria-selected='false']:last-child:focus {
  border-top-right-radius: 12px;
}

[ngTab][aria-selected='true'] {
  color: var(--light-grey);
  background-color: var(--black);
}

[ngTab][aria-selected='true']:focus {
  outline-offset: -4px;
  outline: 1px solid var(--light-grey);
}

[ngTab][aria-selected='true']:first-child:focus {
  border-top-left-radius: 12px;
}

[ngTab][aria-selected='true']:last-child:focus {
  border-top-right-radius: 12px;
}

.content-window {
  inline-size: 100%;
  display: flex;
  transition: all 0.2s ease-in-out;
}

[ngTabPanel] {
  display: grid;
  inline-size: 100%;
  padding: #{app.$padding-16 + 0px};
  flex: 1;
}

[ngTabPanel]:focus {
  outline-offset: -4px;
  outline: 2px solid var(--light-grey);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.toggle {
  max-inline-size: 90%;
}

.focus {
  display: flex;
  flex-wrap: wrap;
}

.input {
  display: flex;
  align-items: center;
}